*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -box-sizing: border-box;
}

[class*='col-'] {
  padding-right: 10px;
  float: left;
}

/*[class*='col-']:last-of-type {
  padding-right: 0;
}*/

.col-2-3 {
  width: 66.66%;
}
.col-1-3 {
  width: 33.33%;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

.img-holder {
  height: 200px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#search-results {
  width: 75%;
  margin: auto;
}